apiVersion: v1
kind: ReplicationController
metadata:
  name: myapp-rc
  labels:
    app: myapp
    type: front-end
spec:
  template:
    metadata:
      name: my-apache
      labels:
        app: myapp
        type: frontend
    spec: 
      containers:
        - name: apache-container
          image: httpd:alpine
  replicas: 5
