
Gemfile.lock
mysql-data
wordpress-data
registry-data
sample-data
NEXT

*.orig

*~

.fuse_hidden*

.directory

.Trash-*

.nfs*

Icon


._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.venv/

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

typings/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env

Thumbs.db
ehthumbs.db
ehthumbs_vista.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk

.dccache

*.key
*.pem
*.crt
*.cer
*.csr
*.p12
*.pfx

*.srl

*.secret
*.jwt
*.token
secrets/
.env
.env.local
.env.*.local

kubeconfig*
config

*.pass
*.password
*.vscode/
.idea/