apiVersion: v1
kind: Service
metadata:
  name: service-loadbalancer
spec:
  selector:
    app: java-app
  type: LoadBalancer
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
  externalTrafficPolicy: Local