apiVersion: v1
kind: Service
metadata:
  name: clusterip-service
spec:
  selector:
    app: myapp
  type: ClusterIP  
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  