apiVersion: v1
kind: Service
metadata:
  name: myapp
spec:
  selector: 
    app: myapp
  ports:
    - protocol: TCP
    port: 80
    # port that our app is listening on
    targetPort: 9376
  clusterIP: 10.0.171.239
  type: LoadBalancer
status:
  loadBalancer:
    ingress:
    # ip address of the LoadBalancer
      - ip: 192.0.2.127  