apiVersion: v1
kind: Pod
metadata:
  name: java-app
  labels:
    app: java-app
    name: java-app
spec:
  containers:
  - name: java-app-container
    image: adkham01/java-app:latest
    ports:
    - containerPort: 8080
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
    env:
    - name: JAVA_OPTS
      value: "-Xmx512m -Xms256m"
  restartPolicy: Always