services:
  drupal:
    image: drupal:latest
    ports:
      - "8080:80"
    depends_on:
      - db
  
  db:
    image: postgres:alpine
    environment:
      POSTGRES_USER: drupal
      POSTGRES_PASSWORD: drupal
      POSTGRES_DB: drupal
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: