services:
  proxy:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # ro means read-only
      - ./html:/usr/share/nginx/html:ro
  web:
    image: httpd:alpine
      