name: Nuild with Multi-Platform Support
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-image: 
    if: false
    name: Build images 
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub 
        uses: docker/login-action@v2
        with:
          # push: ${{ github.event_name != 'pull_request' }}
          push: false
          tags: |
            adkham01/all-hands:latest
            adkham01/all-hands:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64,linux/arm/v7