name: Add Unit Testing
on:
  push:
    branches:
      - main
  pull_request:


jobs:
  build-image:
    if: false
    name: Build Images with Unit Testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repo 
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and export to Docker 
        uses: docker/build-push-action@v4
        with:
          push: false
          load: true
          tags: ${{ github.run_id }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64

      - name: Run Unit Tests inside Docker Container
        run: |
          docker run --rm ${{ github.run_id }} echo "Run test commands here"

      - name: Docker Metadata for final image Build
        id: docker_meta 
        uses: docker/metadata-action@v4
        with:
          images: |
            adkham01/all-hands:latest
            adkham01/all-hands:${{ github.sha }}
          flavor: |
            latest=false    
          tags: |
            type=raw, value=08
            # type=ref,event=branch,prefix=,format={{ .RefName }},
            # type=ref,event=tag,prefix=,format={{ .RefName }}